<div id="sidebar" class="bg-dark d-flex flex-column">
    <div class="text-center py-3">
        <h4 class="text-white display-4">Huize Orgie</h4>
        <p>Huisavond</p>
    </div>
    
    <div class="p-4">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="Ace" routerLinkActive="active">Switch Direction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="King" routerLinkActive="active">Goblet of Fire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Queen" routerLinkActive="active">1v1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Jack" routerLinkActive="active">Drinking Buddy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="10" routerLinkActive="active">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="9" routerLinkActive="active">Random drink</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="8" routerLinkActive="active">Random amount</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="7" routerLinkActive="active">Fuck the neighbors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="6" routerLinkActive="active">Love the neighbors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="5" routerLinkActive="active">Piss card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="4" routerLinkActive="active">Snake Eyes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="3" routerLinkActive="active">Chug!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="2" routerLinkActive="active">Double down</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Joker" routerLinkActive="active">Wildcard</a>
            </li>
        </ul>
    </div>
</div>