/* nav{
    max-width:300px;
    height:100vh;
} */

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    padding-top: 20px;
    border-right: 1px solid;
}


.nav-item .nav-link {
    color: rgb(176, 176, 176);
}
.nav-item .nav-link::before {
    content: attr(routerLink);
    color: white;
    display: inline-block;
    margin-right: 15px;
    width: 50px;
    text-align: right;
}

.nav-item {
    border-bottom: 1px solid rgb(62, 62, 62);
}
.nav-item:last-child {
    border: none;
}