<div id="sidebar" class="bg-dark d-flex flex-column">
    <div class="text-center py-3">
        <h1 class="text-center py-3">Players</h1>
    </div>
    <div class="p-4" id="playersOverview">
        <table class="table">
        <thead>
            <tr>
            <th>Name</th>
            <th>Difficulty</th>
            <th>Total Drinks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
            <td>{{ player.name }}</td>
            <td style="text-align: center;">{{ player.difficulty }}</td>
            <td style="text-align: center;">{{ player.totalDrinks }}</td> 
            </tr>
        </tbody>
        </table>
    </div>
    <form class=p-4 id="playersForm" (ngSubmit)="onCreatePlayer()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="difficulty" class="form-label">Difficulty</label>
            <input type="text" class="form-control" id="difficulty" [(ngModel)]="difficulty" name="difficulty" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Create Player</button>
    </form>
</div>