<h1 class="text-center py-3">Drinking Buddies</h1>
<p class="text-center py-3">
    Current drinking buddies:
</p>
<div class="p-4" style="margin-left:400px; width:25vw;">
    <table class="table">
        <tbody>
            <tr *ngFor="let buddies of drinkingBuddies">
            <td style="text-align: center;border-left:5px">{{ buddies.from }}</td>
            <td style="text-align: center;">
                <button class="btn btn-primary" style="padding-top:0; padding-bottom:0; height:25px;" (click)="selectPlayer(buddies.from)">Drink!</button>
            </td>
            <td style="text-align: center;">{{ buddies.to }}</td> 
            <td style="text-align: center;">
                <button class="btn btn-primary" style="padding-top:0; padding-bottom:0; height:25px;" (click)="selectPlayer(buddies.to)">Drink!</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>

<form class=p-4 id="playersForm" (ngSubmit)="addDrinkingBuddies()">
    <div class="mb-3">
        <label for="fromName" class="form-label">From</label>
        <input type="text" class="form-control" [(ngModel)]="fromName" name="fromName" required>
    </div>
    <div class="mb-3">
        <label for="toName" class="form-label">To</label>
        <input type="text" class="form-control" [(ngModel)]="toName" name="toName" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Add drinking Buddies</button>
</form>