<h1 class="text-center py-3">Basic Rules</h1>
<p class="text-center py-3">
    Welcome to the game of Kassen.
</p>

<h1 class="text-center py-3"><u>1</u></h1>
<p class="text-center py-3">
    You are only allowed to take a piss with the piss card. <br>
    If you do want to go, it's gonna cost you a shot! <br>
    This shot does not count for your drinking buddies!
</p>

<h1 class="text-center py-3"><u>2</u></h1>
<p class="text-center py-3">
    The amount that you are drinking is based on the difficulty of the game. <br>
    This difficulty is player specific and can be change during the game. <br>
    Upon starting the game, you will roll the dice to determine the starting difficulty.
</p>

<h1 class="text-center py-3"><u>3</u></h1>
<p class="text-center py-3">
    Every Strike you get is an automatic +2 Difficulty!
</p>